@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.heroDiv {
  background-color: rgba(28, 40, 51, 0.927);
  height: 500px;
  font-family: Ubuntu;

  .heroImg {
    margin-top: 100px;
    width: 800px;
    height: 400px;
    object-fit: cover;
    object-position: right top;
    margin-left: 800px;
    opacity: 0.1;
  }
  .reactDiv {
    position: absolute;
    top: 20%;
    text-align: center;
    left: 32%;
    h1 {
      color: #61dafb;
      font-size: 4rem;
    }
    h2 {
      color: whitesmoke;
      margin-top: 40px;
      font-size: 2rem;
      font-weight: lighter;
    }
    .getStartDiv {
      margin-top: 60px;
      .GetStarted {
        padding: 20px 40px 20px 40px;
        background-color: #61dafb;
        text-align: center;
        text-decoration: none;
        font-size: 1.5rem;
        color: black;
        &:hover {
          background-color: white;
        }
      }
      .tutorial {
        color: #61dafb;
        margin: 30px;
        font-size: 1.4rem;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }
}
